SLACK_APP_TOKEN=xapp-
SLACK_BOT_TOKEN=xoxb-
OPENAI_API_KEY=fake

OPENAI_SYSTEM_TEXT=Default System Text
OPENAI_TIMEOUT_SECONDS=30
OPENAI_MODEL=gpt-3.5-turbo
USE_SLACK_LANGUAGE=true
SLACK_APP_LOG_LEVEL=DEBUG
TRANSLATE_MARKDOWN=false
OPENAI_API_BASE=http://localhost:8080/v1
EMBEDDINGS_MODEL=all-MiniLM-L6-v2
EMBEDDINGS_API_BASE=http://localhost:8080/v1
LOCALAI_API_BASE=http://localhost:8080/v1
TTS_API_BASE=http://localhost:8080/v1
IMAGES_API_BASE=http://localhost:8080/v1
STABLEDIFFUSION_MODEL=dreamshaper
FUNCTIONS_MODEL=gpt-3.5-turbo
LLM_MODEL=gpt-3.5-turbo
TTS_MODEL=en-us-kathleen-low.onnx
PERSISTENT_DIR=/data