<!DOCTYPE html>
<html lang="en">
<head>
    <title>Smart Assistant Dashboard</title>
    {{template "views/partials/header"}}
    <style>
        
    </style>
</head>
<body class="bg-gray-900 p-4 text-white font-sans">
    {{template "views/partials/menu"}}
    <div class="container">
        <div class="image-container">
            <img src="/public/logo_1.png" width="250" alt="Company Logo">
        </div>
        <!-- Card for Agent List Page -->
        <a href="/agents" class="card-link">
            <div class="card">
                <h2>Agent List</h2>
                <p>View and manage your list of agents, including detailed profiles and statistics.</p>
            </div>
        </a>
        <a href="/create" class="card-link">
            <div class="card">
                <h2>Create</h2>
                <p>Create a new agent.</p>
            </div>
        </a>
    </div>
</body>
</html>
