<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<script src="https://unpkg.com/htmx.org"></script>
<script src="https://unpkg.com/htmx.org/dist/ext/sse.js"></script>
<script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
<style>
    body {
        font-family: 'Roboto', sans-serif;
    }
    .section-box {
            background-color: #2a2a2a; /* Darker background for the form */
            padding: 20px;
            margin-bottom: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        body {
            background-color: #1a1a1a; /* Lighter overall background */
            color: #ffffff;
            font-family: sans-serif;
            padding: 20px;
        }

        input, button {
            width: 100%;
            padding: 10px;
            margin-top: 5px;
            border-radius: 5px;
            border: none;
        }

        input[type="text"], input[type="file"] {
            background-color: #333333;
            color: white;
        }

        button {
            background-color: #4a76a8; /* Blue color for buttons */
            color: white;
            cursor: pointer;
        }

        button:hover {
            background-color: #5a86b8;
        }
</style>